@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  --primary-color: #047aed;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

h1,h2 {
  font-weight: 300;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container input{
  width: 100px;
  height: 25px;
  border: #aaa thin;
  padding: 4px;
  outline: none;
  border-radius: 20px;
}

p {
  margin: 10px 0;
}
/* FOR MOBILES */
@media screen and (max-width: 330px) {
  .container {
    padding: 0 5px;
  }
}


@media screen and (max-width: 450px) {
  .container input {
    visibility: hidden;
  }
  h1 {
    font-size: 20px;
  }
}


.container.grid {
  display: grid;
  /* grid-template-columns: repeat(3 1fr); */
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
  margin: 6px;
}

.result.grid {
  display: grid;
  gap: 5px;
  grid-template-rows: repeat(1fr);
}

#dash {
  text-align: center;
}

.btn {
  display: inline;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(.98);
}
.output {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
  width: 100%;
  border: #aaa 1px solid;
}
.nav-bar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.header {
  display: flex;
  padding-top: 8px;
  color: #fff;
}

.header h1 {
  margin-left: 10px;
}